{% extends "students/wrapper.html" %}

{% block title %} 
Login
{% endblock %}

{% block content %}
<h1 align="center">Login</h1>
<u><h5 align="center">Please, use the following form to log-in:</h5></u>
<div class="rounded-circle">
    <form action="{% url 'login' %}" method="POST" align="center" novalidate>
        {% csrf_token %}
        {% for i in form %}
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <p>{{ i|safe }}</p>
        {% endfor %}
        <br>
        {% for e in form %}
        <strong style="color: rgb(236, 16, 16)">{{ e.errors }}</strong>
        {% endfor %}
        <strong style="color: rgb(236, 16, 16)">{{ form.non_field_errors }}</strong>
        <button type="submit" value="Log-in" style="height: 30px; width: 70px"> Log-in</button>
    </form>
</div>
{% endblock %}
