{% extends "students/wrapper.html" %}

{% block title %}
Forgot Your Password?
{% endblock %}

{% block content %}
<h1 align="center">Forgot your password?</h1>
<u><h5 align="center">Enter your email address below, and we'll email instructions for setting a new one!</h5></u>
<div class="rounded-circle">
  <form method="POST" align="center" action="{% url 'reset_password' %}" novalidate>
    {% csrf_token %}
    {% for i in form %}
    <p align="center">{{ i|safe }}</p>
    {% endfor %}
    {% for e in form %}
    <strong style="color: rgb(236, 16, 16)">{{ e.errors }}</strong>
    {% endfor %}
    <strong style="color: rgb(236, 16, 16)">{{ form.non_field_errors }}</strong>
    {% for m in messages %}
    <u><i><h5 align="center" style="color: rgb(36, 36, 36)">{{m}}</h5></i></u>
    {% endfor %}
    <button type="submit" value="Send me instructions" style="height: 30px; width: 70px">Send</button>
  </form>
</div>
{% endblock %}
