{% extends "students/wrapper.html"  %}

{% block title %}
Email confirm
{% endblock %}

{% block content %}
<p align="center"> <strong>Please, enter your new password!</strong></p>
<div class="rounded-circle">
<form method="POST" align="center" novalidate>
    {% csrf_token %}
    {% for i in form %}
    <p align="center">{{ i|safe }}</p>
    {% endfor %}
    {% for e in form %}
    <strong style="color: rgb(236, 16, 16)">{{ e.errors }}</strong>
    {% endfor %}
    <strong style="color: rgb(236, 16, 16)">{{ form.non_field_errors }}</strong>
    {% for m in messages %}
    <u><i><h5 align="center" style="color: rgb(36, 36, 36)">{{m}}</h5></i></u>
    {% endfor %}
    <button type="submit" value="Confirm" style="height: 30px; width: 70px">Confirm</button>
</form>
</div>
{% endblock %}
