{% extends "students/wrapper.html" %}

{% block title %} 
{{Title}}
{% endblock %}

{% block content %}
    <i><h1 align="center">Create {{Title}} </h1></i>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    <div>
        <form method="POST", action="{% url 'create_student' %}" align="center">
            {% csrf_token %}
            {{ form.name|safe }} <br>
            {{ form.surname|safe }} <br>
            {{ form.age|safe }} <br>
            {{ form.phone|safe }} <br>
            <!-- {{ form.in_the_group|safe }} <br> -->
            <button type="submit" style="height: 30px; width: 70px"> Add </button>
            <span>{{ error }}</span>
        </form>
    </div>
{% endblock %}
