{% extends "students/wrapper.html" %}

{% block title %} 
{{Title}}
{% endblock %}

{% block content %}
    <i><h1 class="tab">{{Title}}</h1></i>
    
    {% if object_list %}
        {% for el in object_list %}
            <div>
                <li><h4 class="tab">Subject: {{ el.subject }}</h4></li>
                <h4 class="tab">Ratio of students: {{ el.ratio_of_students }}</h4>
                <h4 class="tab">Teacher of the group: {{ el.main_teacher.name }} {{ el.main_teacher.surname }}</h4>
                <a href="{% url 'edit_group' group_id=el.id %}" class="tab"><button type="submit" style="height: 30px; width: 70px" class="green"> Edit </button></a>
                <a href="{% url 'delete_group' group_id=el.id %}"><button type="submit" style="height: 30px; width: 70px" class="red"> Delete </button></a>
                <br>
            </div>
        {% endfor %}
    {% else %}
    <div>
        <li><h4>Subject : {{ object.subject }}</h4></li>
        <h4>Ratio of students: {{ object.ratio_of_students }}</h4>
        <br>
    </div>
    {% endif %}

{% endblock %}
