{% extends "students/wrapper.html" %}

{% block title %} 
{{Title}}
{% endblock %}

{% block content %}
    <i><h1>Create {{Title}} </h1></i>
    <div>
        <form method="POST", action="{% url 'create_teacher' %}" >
            {% csrf_token %}
            {{ form.name|safe }} <br>
            {{ form.surname|safe }} <br>
            {{ form.age|safe }} <br>
            <button type="submit" style="height: 20px; width: 70px" > Add </button>
            <span>{{ error }}</span>
        </form>
    </div>
{% endblock %}
