{% extends "students/wrapper.html" %}

{% block title %} 
{{Title}}
{% endblock %}

{% block content %}
    <i><h1 class="tab">{{Title}}</h1></i>
    
    {% if object_list %}
        {% for el in object_list %}
            <div>
                <li><h4 class="tab">Name: {{ el.name|safe }}</h4></li>
                <h4 class="tab">Surname: {{ el.surname|safe }}</h4>
                <h4 class="tab">Age: {{ el.age|safe }}</h4>
                <h4 class="tab">Subject: {{ el.subject_class|safe }}</h4>
                <a href="{% url 'edit_teacher' el.id %}" class="tab"><button type="submit" style="height: 30px; width: 70px" class="green"> Edit </button></a>
                <a href="{% url 'delete_teacher' el.id %}"><button type="submit" style="height: 30px; width: 70px" class="red"> Delete </button></a>
                <br>
            </div>
        {% endfor %}
    {% else %}
    <div>
        <li><h4>Name : {{ object.name }}</h4></li>
        <h4>Surname: {{ object.surname }}</h4>
        <h4>Age: {{ el.age }}</h4>
        <br>
    </div>
    {% endif %}
    <hr align="center" width="90%" size="50" color="#dddddd" />
    {% include "students/pagination.html" %}
{% endblock %}
