{% extends "students/wrapper.html" %}

{% block title %} 
{{Title}}
{% endblock %}

{% block content %}
    <i><h1 align="center"> Contact us </h1></i>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    <div class="rounded-circle">
        <form method="POST", action="{% url 'contact_us' %}" align="center">
            {% csrf_token %}

            {{ form.title|safe }} <br>
            {{ form.message|safe }} <br>
            {{ form.email_from|safe }} <br>
            <button type="submit" style="height: 30px; width: 70px" > Send </button>
        </form>
    </div>
{% endblock %}
